.shoes-box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 60px;
  margin-bottom: 100px;
}
.shoes-card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 0%;
}

.shoes-card {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  display: flex;
  align-items: center;
  margin-top: 25px;
  border-radius: 5px;
  width: 100%;
  transition: 0.6s;
}

.shoes-card:hover{
  transform: scale(1.1);
}

.shoes-card h3 {
  font-size: 24px;
  padding-left: 40px;
}
