.navbar {
  background-color: transparent;
  display: flex;
  align-items: center;
  position: fixed;
}

.navbar a {
  color: black;
  text-decoration: none;
  transition: 0.2s;
}

.navbar a:hover {
  color: white;

}

.navbar .brand {
  display: block;
  padding: 0 24px;
  font-size: 24px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar ul li a {
  padding: 24px;
  display: block;
}
